doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/stylesheets/all.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    nav.navbar.fixed-top.navbar-expand-md.navbar-light 
      .container 
        a.navbar-brand(href="/") Loc8r
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon 
        #navbarMain.navbar-collapse.collapse 
          ul.navbar-nav.mr-auto 
            li.nav-item.active    
              a.nav-link(href="/about/") About
    .container
      block content
      
      footer 
        .row 
          .col-12
            small &copy; Shivansh Guleria
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js") 
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous")
    script(src="/javascripts/bootstrap.min.js") 
    